@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :focus {
        outline: transparent !important;
        box-shadow: 0 0 0 2px #00875F;
    }

    body {
        height: 100vh;
        line-height: 140%;
      }
      
      /* Avoid Chrome to see Safari hack */
      @supports (-webkit-touch-callout: none) {
        body {
          /* The hack for Safari */
          height: -webkit-fill-available;
        }
      }

    @media (max-width: 768px) {
        html {
            font-size: 87.5%;
        }
    }
    
}